<div class="container-fluid fixed-center">
  <h1>Stupid Coaching</h1>

  <form action="/answer" data-turbo="false">
  <label for="basic-url" class="form-label">Ask your coach anything:</label>
  <div class="input-group mb-3 form-outline w-25">
    <input type="text" name="answer" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-primary" type="submit" id="button-addon2" >Ask!</button>
  </div>
  </form>
</div>
